/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Contact Card CSS
.delete-contact-tooltip {
  background: #b71c1c;
}
