<div class="container mt-4">
  <div class="row justify-content-center">
    <div
      class="col-11 col-sm-11 col-md-5 col-lg-4 col-xl-3 mb-2 align-item-center"
      *ngFor="let contact of contactList"
    >
      <app-contact-card
        [contact]="contact"
        (editContact)="onEditContact($event)"
        (deleteContact)="onDeleteContact($event)"
      ></app-contact-card>
    </div>
  </div>
</div>
<button
  mat-fab
  color="primary"
  class="add-contact-btn"
  matTooltip="Add Contact"
  matTooltipPosition="above"
  (click)="openAddContactForm()"
>
  <mat-icon>add</mat-icon>
</button>
